/* Variáveis de cores, espaçamentos e fontes */
:root {
    --laranja: #FF5733;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-escuro: #333333;
    --laranja-claro: #FFA07A;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    --font-size-base: 16px;
    --font-weight-bold: 700;
}

/* Estilo Geral */
body {
    background-color: var(--branco);
    color: var(--preto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Banner */
.banner {
    text-align: center;
    padding: 0;
    /* Remova o padding para garantir que a imagem preencha todo o espaço */
    background-color: #f0f0f0;
    /* Substitua pela cor de fundo desejada */
    color: var(--branco);
    /* Ajuste a cor do texto para contraste */
    min-height: 100vh;
    /* Ocupa a altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Garante que a imagem não ultrapasse o contêiner */
    position: relative;
    /* Necessário para o posicionamento absoluto da imagem */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Preenche o contêiner mantendo a proporção */
    position: absolute;
    /* Faz a imagem preencher todo o contêiner */
    top: 0;
    left: 0;
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner .btn:hover {
    background-color: var(--preto);
}

/* Formulários */
form {
    width: 620px;
    max-width: 90vw;
    margin: var(--spacing-md) auto;
    padding: var(--spacing-lg);
    border: 2px solid var(--laranja);
    border-radius: 10px;
    background-color: var(--branco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
    display: block;
}

form input,
form textarea {
    width: 100%;
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    border: 1px solid var(--cinza-escuro);
    border-radius: 5px;
    font-size: var(--font-size-base);
}

form button {
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-base);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--laranja-claro);
}

/* Rodapé */
footer {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: var(--spacing-sm) 0;
    font-size: 14px;
}

/* Foto de perfil */
.minha-foto {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    border: 5px solid var(--laranja);
    margin: var(--spacing-md) auto;
    display: block;
}

/* Skills */
#skills {
    text-align: center;
    padding: 40px 0;
    background-color: var(--branco);
}

.skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skills-list li {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.skills-list img {
    width: 50px;
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .banner {
        height: auto;
        padding: 20px;
    }

    .banner img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: static;
    }

    .skills-list {
        flex-direction: column;
        gap: var(--spacing-md);
    }

    form {
        width: 100%;
        padding: var(--spacing-md);
    }

    .social-links {
        flex-direction: column;
        gap: var(--spacing-sm);
    }
}

/* Estilos para dispositivos muito pequenos */
@media (max-width: 480px) {
    .banner {
        padding: 10px;
    }

    .banner h1 {
        font-size: 1.5em;
    }

    .banner p {
        font-size: 1em;
    }

    .skills-list li {
        font-size: 1em;
    }

    form {
        padding: var(--spacing-sm);
    }

    .social-links .btn {
        padding: var(--spacing-sm);
        font-size: 0.9em;
    }
}

/* Botões de Redes Sociais */
.social-links {
    margin-top: var(--spacing-md);
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
}

.social-links .btn {
    background-color: var(--preto);
    color: var(--branco);
    margin: 0;
    padding: var(--spacing-sm) var(--spacing-md);
    text-transform: uppercase;
    font-size: var(--font-size-base);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-links .btn:hover {
    background-color: var(--laranja);
    transform: scale(1.05);
}

/* Botões de Certificados */
.certificate-link {
    display: inline-block;
    margin-top: var(--spacing-sm);
    background-color: var(--laranja);
    color: var(--branco);
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-base);
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.certificate-link:hover {
    background-color: var(--laranja-claro);
    transform: translateY(-3px);
    text-decoration: underline;
}

.certificate-text {
    width: 100px;
}

/* Linha Laranja */
.linha-laranja {
    border: 0;
    height: 1px;
    background-color: var(--laranja);
    /* Cor laranja */
    margin: 20px 0;
}

/* Scroll Animado */
section.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}

section {
    opacity: 0;
    transform: translateY(50px);
}


* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}